<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brecht.sensortest" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Stopwatch"/>
        <activity android:name=".Login" android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity android:name=".Accelero" android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity android:name=".Gyroscope" android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity android:name=".Magnetometer" android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity android:name=".Rotation" android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity android:name=".Welkom" android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity android:name=".Register" android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity android:name=".Gravity_raw" android:theme="@style/Theme.AppCompat.Light.DarkActionBar" android:launchMode="singleInstance"/>

    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
